@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 292 45% 95%;
    --foreground: 292 5% 0%;
    --card: 292 45% 90%;
    --card-foreground: 292 5% 10%;
    --popover: 292 45% 95%;
    --popover-foreground: 292 95% 0%;
    --primary: 292 82% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 292 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 254 30% 85%;
    --muted-foreground: 292 5% 35%;
    --accent: 254 30% 80%;
    --accent-foreground: 292 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 292 5% 90%;
    --border: 292 30% 50%;
    --input: 292 30% 18%;
    --ring: 292 82% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 292 45% 5%;
    --foreground: 292 5% 90%;
    --card: 292 45% 0%;
    --card-foreground: 292 5% 90%;
    --popover: 292 45% 5%;
    --popover-foreground: 292 5% 90%;
    --primary: 292 82% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 292 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 254 30% 15%;
    --muted-foreground: 292 5% 60%;
    --accent: 254 30% 15%;
    --accent-foreground: 292 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 292 5% 90%;
    --border: 292 30% 18%;
    --input: 292 30% 18%;
    --ring: 292 82% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
.animate-sway {
  animation: sway 3s infinite alternate ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bouncing-plus {
  animation: bounce 0.6s infinite ease-in-out alternate;
}
